:disabled {
    BackgroundColor: #eeeeee;
}


Panel {
    /* Padding="5,5,5,5" HorizontalAlignment="Stretch" VerticalAlignment="Top" BackgroundColor="#E6C0E9" */
    Padding: 5, 5, 5, 5;
    BackgroundColor: #E8DBD8;
}

Panel:drag {
    /* Padding="5,5,5,5" HorizontalAlignment="Stretch" VerticalAlignment="Top" BackgroundColor="#E6C0E9" */
    BackgroundColor: #E8DBD888;
}

Panel:focus {
    /* Padding="5,5,5,5" HorizontalAlignment="Stretch" VerticalAlignment="Top" BackgroundColor="#E6C0E9" */
    BackgroundColor: #f9a8b499;
}

Panel.top-panel {
    /* Padding="5,5,5,5" HorizontalAlignment="Stretch" VerticalAlignment="Top" BackgroundColor="#E6C0E9" */
    Padding: 10, 10, 10, 10;
    HorizontalAlignment: Stretch;
    VerticalAlignment: Top;
    BackgroundColor: #D9B8C4;
}

Panel.bottom-panel {
    /* Padding="5,5,5,5" HorizontalAlignment="Stretch" VerticalAlignment="Top" BackgroundColor="#E6C0E9" */
    Padding: 5, 5, 5, 5;
    HorizontalAlignment: Stretch;
    VerticalAlignment: Bottom;
    BackgroundColor: #D9B8C4;
}

TextBlock {
    Font: Fonts/arial_18;
    HorizontalAlignment: Left;
    VerticalAlignment: Center;
    Color: #351D2E;
}

TextBlock.arial_12 {
    Font: Fonts/arial_12;
}

TextBlock.line_edit {
    Font: Fonts/arial_12;
    HorizontalAlignment: Left;
    VerticalAlignment: Center;
    Color: #957D8E;
}

TextBlock.line_edit:focus {
    Font: Fonts/arial_12;
    HorizontalAlignment: Left;
    VerticalAlignment: Center;
    Color: #351D2Eff;
}

Button {
    Padding: 15,15,15,15;
    BackgroundColor: #D9B8C4;
    BorderThickness: 1,1,3,3;
    BorderColor: #380A11;
    Color: #351D2E;
    Font: Fonts/arial_12;
}

Button .small {
    Padding: 10,5,10,5;
}

Button:hover {
    Padding: 15,15,15,15;
    BackgroundColor: #E9C8D4;
    BorderThickness: 1,1,1,1;
    Color: #351D2E;
    Font: Fonts/arial_12;
}

Button:active {
    Padding: 15,15,15,15;
    BackgroundColor: #f9e8f4;
    BorderThickness: 1,1,1,1;
    Color: #351D2E;
    Font: Fonts/arial_12;
}

Button:disabled {
    Padding: 15,15,15,15;
    BackgroundColor: #a998a4;
    BorderThickness: 1,1,1,1;
    Color: #351D2E;
    Font: Fonts/arial_12;
}

Button:focus {
    BackgroundColor: #f9a8b4;
}

Button.exit {
    BackgroundColor: #B87A9199;
}

LineEdit {
    Margin: 0,5,0,5;
    Padding: 5,5,5,5;
    BackgroundColor: #f9e8f4;
    BorderThickness: 0,0,0,3;
    BorderColor: #380A11;
    Color: #351D2E;
    HorizontalAlignment: Stretch;
    Font: Fonts/arial_12;
    Height: 28;
}

LineEdit:focus {
    BackgroundColor: #feefff;
    Color: #351D2E;
    BorderThickness: 1, 1, 1, 1;
    BorderColor: #380A11;
}

#drag {
    BackgroundColor: #97DFFC99;
    BorderThickness: 1, 1, 1, 1;
    BorderColor: #380A11;
}

#drag1 {
    BackgroundColor: #858AE399;
    BorderThickness: 1, 1, 1, 1;
    BorderColor: #380A11;
}

#drag2 {
    BackgroundColor: #613DC199;
    BorderThickness: 1, 1, 1, 1;
    BorderColor: #380A11;
}

#drag3 {
    BackgroundColor: #E8DBD8;
    BorderThickness: 1, 1, 1, 1;
    BorderColor: #380A11;
}
